.App {
	text-align: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('https://preview.redd.it/rkk4g2dopwu41.jpg?auto=webp&s=58de2cd6cf478ef19b5af38e2556ba788de045a9');
	height:100vh;
	width:100vw;
}

.title {
	top: 0;
	font-weight: bold;
	font-size: xx-large;
}

.powerLabel {
	position:absolute;
	top:10px;
	left: 50px;
	font-weight: bold;
	font-size: x-large;
}

.powerPoints {
	position:absolute;
	top:3px;
	left:30px;
}

.coins {
	position:absolute;
	top:3px;
	left:160px;
}

.coinLabel {
	position:absolute;
	top:10px;
	left: 50px;
	font-weight: bold;
	font-size: x-large;
}

.symbol {
	position:absolute;
	top: 10px;
	left: 130px;
	font-weight: bold;
	font-size:x-large;
}


.square {
	position:absolute;
	top:75px;
	left:-20	px;
	height:278px;
	width:295px;
	border:5px solid;
}

.Box{
	position:absolute;
	bottom:0px;
	height:65px;
	width:300px;
	background-color: green;
}

.trophy {
	position:absolute;
	top:0px;
	left: 70px;
}

.trophyLabel {
	position:absolute;
	top:-4px;
	font-size: x-large;
	font-weight: bold;
	left: 93px;
}

.trophyRectangle {
	position:absolute;
	top: -30px;
	left:20px;
	height: 20px;
	width:176px;
	border:3px solid black;
}

.rankLabel {
	position:absolute;
	top:-29px;
	font-size: x-large;
	font-weight: bold;
	left: -10px;
}

.brawlerName {
	position:absolute;
	top:205px;
	left:5px;
	font-weight: bold;
	font-size:x-large
}

.brawlerPower {
	position:absolute;
	left:182px;
	top:205px;
	font-weight: bold;
	font-size:x-large
}

.powerValue {
	position:absolute;
	top: 200px;
	left: 265px;
	height: 35px;
	width: 35px;
	font-weight: bold;
	font-size: xx-large;
	background-color: black;
	color:white;
}

.trophyValue {
	position:absolute;
	top: 40px;
	left: 260px;
	height: 55px;
	width: 35px;
}
.rank {
	position:absolute;
	top:-36px;
	left:-27px;
	border-radius: 50%
}

.button{
	position:absolute;
	top: 45px;
	left: 902px;
	font-weight: bold;
	font-size: x-large;
}


